.content {
	margin: 0 auto;
	padding: 0 2em;
	max-width: 1200px;
	min-width: 700px;
	margin-bottom: 50px;
	line-height: 1.6em;
}

.header {
	display:block;
	border-bottom-color:black;
	border-radius:0px;
}

.pure-menu-link {
	padding: 1em 1em;
}

p {
	font-family: Georgia, "Cambria", serif;
	line-height: 1.8em;
	color: rgb(68, 68, 68);
}
